html {overflow:hidden;}
body{font-family: Helvetica, Arial, sans-serif; font-weight: regular; font-size: 15px; color: #999; margin: 0;}
#browser {
	text-align:center;
}
#browser div {
	display:inline;
	cursor:pointer;
}
#browser a { color:#999;}
