<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>Page Not Found</title>
	<meta property="og:title" content="Page Not Found">

	<!-- build:process -->
	<base href="<%= baseurl %>">	
	<link rel="stylesheet" href="<%= css_staticpath %>"> 
	<!-- /build -->

	<!-- build:section layout.header --><!-- /build -->
</head>

<body class="textpage missingpage">
<div id="infoborder"></div>
<section id="infowrap">
	<section id="textbar">			
		<!-- build:section layout.navigation --><!-- /build -->
	</section>	
	<h1>Page Not Found</h1>
	
	<section id="404">
		<div id="missing"><i class="fas fa-question-circle"></i></div>
	</section>
	<!-- build:section layout.footer --><!-- /build -->
</section>

</body>
</html>