<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>Manifest - About</title>
	<meta property="og:title" content="Manifest - About">

	<!-- build:process -->
	<base href="<%= baseurl %>" />	
	<link rel="stylesheet" href="css/Manifest-static<%= minify %>.css" /> 
	<!-- /build -->

	<meta property="og:url" content="https://manifest.supplystudies.com/about/">	
	<link rel="canonical" href="https://manifest.supplystudies.com/about/">
	<!-- build:section layout.header --><!-- /build -->
</head>

<body class="textpage">
<div id="infoborder"></div>
<section id="infowrap">
	<section id="textbar">			
		<!-- build:section layout.launcher --><!-- /build -->
		<!-- build:section layout.navigation --><!-- /build -->
	</section>	
	<h1>About Manifest</h1>
	<section id="aboutwrap">
		<a class="splash-link"><img class="splash-image" src="images/about-splash-cut.png" width="640" height="765" alt="Image preview of the Manifest interface"/></a>
	
		<p class="callout biggertext">Manifest is an investigative toolkit intended for researchers, journalists, students, and scholars interested in visualizing, analyzing, and documenting supply chains, production lines, and trade networks.</p>
	
		<p class="bigtext">Professional logistics platforms developed by companies like SAP, Oracle, and IBM are incredibly complex, suited to global networks with hundreds of suppliers in dozens of countries. These systems interface with numerous data sources, with powerful capabilities for controlling the world's material distribution in the name of "supply chain management." Manifest is not one of these. Similarly, there are many tools available for detailed statistical evaluation, graph analysis, and geospatial modeling. And while Manifest can work in concert with these tools, its primary purpose is to:</p>
		<ul class="dotlist">
			<li><div class="listdot"></div>Provide common data standards for describing and sharing supply chains or similar material networks, along with a simple editor modeled on these standards.</li>
			<li><div class="listdot"></div>Develop a flexible geospatial viewer for supply chain data that is transparent, interactive, and simple to understand, with support for specialized data views (graph relationships, etc.).</li>	
			<li><div class="listdot"></div>Support basic analytic tools for evaluating and comparing critical supply chain measures.</li>														
		</ul>
		<p class="bigtext">The result is (hopefully) a system that is more flexible--someone using Manifest might find it valuable to map very high level connection, or to include "materials" not normally present in an industrial logistics platform. In pursuit of these goals, Manifest has been developed with a number of core design principles:</p>
		<ul class="dotlist">
			<li><div class="listdot"></div>Manifest is not a database. While we can host datasets, the primary workflow for creating and viewing data happens in the browser, where the system neither sees nor stores the data.</li>
			<li><div class="listdot"></div>Supply chains in Manifest were not designed to be discrete "documents." The interface was developed for multiple supply chains (or partial supply chains) in order to understand relationships between them.</li>
			<li><div class="listdot"></div>Manifest data tends to be descriptive, rather than rigidly structured. The Manifest format is designed to be open and general enough to contain information across a range of different contexts, irrespective of the rendering for a particular supply chain or single piece of data.</li>
		</ul>
		
		<h3>Project Team</h3>
		<ul class="dotlist">
			<li><div class="listdot"></div>Matthew Hockenberry, Project Director, Fordham University</li>
			<li><div class="listdot"></div>Colette Perold, Project Codirector, University of Colorado Boulder</li>		
			<li><div class="listdot"></div>Ingrid Burrington, Research Coordinator, University of Delaware</li>		
			<li><div class="listdot"></div>Lennox Anderson, Student Developer, University of Colorado Boulder</li>		
			<li><div class="listdot"></div>Karina Garcia, Research Assistant, Fordham University</li>					
		</ul>
		
		<h3>Advisory Board</h3>
		<ul class="dotlist">
			<li><div class="listdot"></div>Nicole Starosielski, Associate Professor of Media, Culture, and Communication, New York University</li>
			<li><div class="listdot"></div>Shannon Mattern, Penn Presidential Compact Professor of Media Studies and Art History, University of Pennsylvania</li>
			<li><div class="listdot"></div>Chris Csíkszentmihályi, Associate Professor of Information Science, Cornell University</li>
			<li><div class="listdot"></div>Tamara Kneese, Director of Developer Engagement, Carbon Reduction and Green Software Team, Intel</li>
			<li><div class="listdot"></div>Grant Whytoff, Digital Humanities Strategiest, Center for Digital Humanities, Princeton University</li>
		</ul>
		Former Students: Christian Kyle Madlansacay, Kimberly Ternan.
		
		<p class="bigtext">For some reflections on the origins of Manifest, please read this brief essay, <a href="https://supplystudies.com/2021/09/29/manifest-manifesto-toward-supply-chain-reconciliation/">Manifest / Manifesto: Toward Supply Chain Reconciliation</a>, on Supply Studies. For updates, sign up for the Supply Studies <a href="https://supplystudies.com/updates/">mailing list</a>. Manifest is provided free for noncommercial use, if you'd like to talk about something else, please don't hesitate to <a href="mailto:mhockenberry@fordham.edu">get in touch</a>. </p>
	
		<p class="callin">
			The project is supported by a <a href="https://www.neh.gov/divisions/odh">Digital Humanities Advancement Grant from the National Endowment for the Humanities</a> as well as Fordham University's Office of Research and <a href="https://www.fordham.edu/info/20768/communication_and_media_studies">Department of Communication and Media Studies</a>. It was previously supported by the <a href="http://steinhardt.nyu.edu/mcc/">Media, Culture, and Communication</a> department of <a href="http://www.nyu.edu/">New York University</a>. It is based on technologies originally developed as part of the <a href="http://supplystudies.com/sourcemap-org/">Sourcemap project</a>, which was created at the MIT Media Lab in 2007 as a collaboration between the MIT Center for Civic Media and the Tangible Media Group.
		</p>
	</section>
	<!-- build:section layout.footer --><!-- /build -->
</section>

<!-- build:process -->	
<script src="js/Manifest-lib<%= minify %>.js"></script>
<script src="js/Manifest-static<%= minify %>.js"></script>
<!-- /build -->	

</body>
</html>