<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>Manifest - Manifest Documents</title>
	<meta property="og:title" content="Manifest - Datasets">

	<!-- build:process -->
	<base href="<%= baseurl %>">	
	<link rel="stylesheet" href="<%= css_staticpath %>"> 
	<meta property="og:url" content="<%= baseurl %>data/">	
	<link rel="canonical" href="<%= baseurl %>data/">
	<!-- /build -->

	<!-- build:section layout.header --><!-- /build -->
</head>

<body class="textpage datapage">
<div id="infoborder"></div>
<section id="infowrap">
	<section id="textbar">			
    	<!-- build:section layout.navigation --><!-- /build -->
	</section>
	<h1>Manifest Documents</h1>
	<section id="datawrap">	

		<p class="biggertext callout">Manifest has been deployed in a variety of different contexts, from academic research projects and courses to workshops for organizers and activists. This page collects only those Manifests and datasets that have been identified for broad publication.</p>
		<p class="bigtext">One note about this collection is that <em>Manifest is not a database</em>. User-created documents are not shared with the Manifest install at <a href="https://manifest.supplystudies.com">manifest.supplystudies.com</a> and the documents on this page include only those that have been explicitly shared for publication. If you have created Manifest documents or have deployed Manifest in classrooms or workshops and would like the results indexed here, please <a href="mailto:mhockenberry@fordham.edu">get in touch</a>.</p>
		<section id="manifestsamples">
			<ul id="samplelist" class="list"></ul>
		    <ul class="pagination"></ul>	
			<div class="clear"></div>
		</section>
		
		<h1>Other Datasets</h1>
		<h3><a id="cases">Courses, Workshops, and Deployments</a></h3>
		<p>This is a collection of Manifests developed as a result of courses, workshops, or in other deployments. For example, Manifest is regularly used as part of the coursework for Media Logistics at Fordham, with the final projects including a partial Manifest document of the media object investigated by a student.</p>
	
		<section id="manifestlist" class="dataviewer smapviewer">
			<ul class="list">
				<li class="entry">
					<div class="id dot">2021-1</div>
					<div class="name"><a href="collection/json/cases/mego_spring2021/">MEGO Maps ("Tracking Global Media")</a></div>
					<div class="description fulltext">Introduction to Global Media Studies (University of Colorado Boulder, Spring 2021)</div>
					<div class="clear"></div>
				</li>
				<li class="entry">
					<div class="id dot">2021-2</div>
					<div class="name"><a href="collection/json/cases/mediaindustries_spring2021/">Media Industry Operations Maps</a></div>
					<div class="description fulltext">Introduction to Media Industries (Fordham University, Spring 2021)</div>
				</li>
                <li class="entry">
                    <div class="id dot">2023-1</div>
                    <div class="name"><a href="collection/json/cases/medialogistics_spring2023/">Media Supply Chain Maps</a></div>
                    <div class="description fulltext">Media Logistics (Fordham University, Spring 2023)</div>
                </li>
                <li class="entry">
                    <div class="id dot">2024-1</div>
                    <div class="name"><a href="collection/json/cases/medialogistics_spring2024/">Media Supply Chain Maps</a></div>
                    <div class="description fulltext">Media Logistics (Fordham University, Spring 2024)</div>
                </li>
                <li class="entry">
                    <div class="id dot">2024-2</div>
                    <div class="name"><a href="collection/json/cases/NEH_2024/">NEH Digital Humanities Maps</a></div>
                    <div class="description fulltext">NEH Project Teams (2023-2024)</div>
                </li>
			</ul>
		</section>

		<h3><a id="smap">Sourcemap Archive</a></h3>
		<p>This is an archive of the data collected by the MIT Center for Civic Media's Sourcmap Project from 2006-2014. That means that this data is <em>old</em>. Because Sourcemap evolved significantly during this relatively long span of time, and because one of the development goals was to avoid breaking user projects, it also means this data is <em>inconsistent</em>. Some attributes and properties that were added in, for example, 2008, probably didn't exist in 2006. And it is also true that some early attributes and properties were depreciated or changed over time. While these have been preserved in the raw data files referenced below, only a subset of more or less standard information is directly viewable in Manfest.</p>
	
		<div id="datalist" class="dataviewer smapviewer">
			<div id="datasort">Sort by <span class='sort' data-sort='id'>ID Number</span> , <span class='sort' data-sort='nm'>Name</span> or </div>
			<input type="search" id="datasearch" class="search" placeholder="search this dataset...">			
			<ul class=list></ul>
		    <ul class="pagination"></ul>	
			<div class="clear"></div>
		</div>
	</section>
	<!-- build:section layout.footer --><!-- /build -->
</section>

<!-- build:process -->	
<script src="<%= js_libpath %>"></script>
<script src="<%= js_datapath %>"></script>
<!-- /build -->
</body>
</html>
