<!DOCTYPE html>
<html>
<head>
	<title>Manifest - Editor</title>
	<meta name="description" content="A simple viewer for supply chain data.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:process -->
	<base href="<%= baseurl %>" />	
	<link rel="stylesheet" href="css/Manifest-main<%= minify %>.css" /> 
    <!-- /build -->
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
	
	<link rel="icon" href="images/favicons/icon.png">	
	<link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png">
</head>

<body class="editor textpage">
	<div id="infoborder"></div>
	<div id="infowrap">
		<div id="textbar">			
		    <!-- build:section layout.launcher --><!-- /build -->				
		    <!-- build:section layout.navigation --><!-- /build -->
		</div>

	    <div id='editor_holder'></div>
		<div id="editor_overview">
			<p class="callout">This is a simple editor for creating Manifest supply chains. These are just JSON files that correspond to the <a href="">Manifest Schema</a>. This is the preferred mechanism for modeling supply chains going forward, but this format is still in development. it isn't the only option. Manifest also supports <a href="">data that was originally created for the <a href="">Sourcemap project</a>, and a simple <a href="">Google Spreadsheet template</a>.</p>
	    	<button id='save-manifest-btn'><i class="fas fa-save"></i>Save & Download</button>
		
		</div>
		
		<div class="clear"></div>
		<div id="map_chooser_wrap" class="closed"><div id="map_chooser"></div><div id="chooser_arrow"></div></div>
	</div>
    <!-- build:process -->	
	<script src="js/Manifest-lib<%= minify %>.js"></script>
	<script src="js/Manifest-edit<%= minify %>.js"></script>
    <!-- /build -->
</body>
</html>