<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>Manifest: Supply Chain Platform</title>
	<meta property="og:title" content="Manifest: Supply Chain Platform">

	<!-- build:process -->
	<base href="<%= baseurl %>">
	<link rel="stylesheet" href="<%= css_path %>" media="screen"> 
	<meta property="og:url" content="<%= baseurl %>">	
	<link rel="canonical" href="<%= baseurl %>">
	<script> 
		const mversion = "<%= version %>";		
		const mtarget = "<%= target %>";		
		
		if (mtarget === 'local') { var console = {}; console.log = function(){}; window.console = console;}
	</script>
	<!-- /build -->

	<!-- build:section layout.header --><!-- /build -->	
</head>

<body class="light">
	<section id="manifestbar">
	    <!-- build:section layout.launcher --><!-- /build -->
	</section>
	
	<section id="sidepanel">
		<div id="manifestlist"></div>
	</section>
	
	<section class="vizmenu">
		<nav class="vizmenu-entry">
			<label for="viz-choice" id="viz-choice-label" class="vizmenu-label">Visualize</label>
			<select name="viz-choice" id="viz-choices">
				<option id="map-viz-choice" value="map">Map</option>
				<option id="forcegraph-viz-choice" class="graph-dependent" hidden disabled value="forcegraph">Graph</option>
				<option id="flow-viz-choice" class="graph-dependent" hidden disabled value="flow">Flow</option>
				<option id="chord-viz-choice" class="graph-dependent" hidden disabled value="chord">Chord</option>
				<option id="listview-viz-choice" value="listview">Sheet</option>
				<option id="textview-viz-choice" value="textview">Data</option>
			</select>
		</nav>
		<nav class="vizmenu-entry">
			<label for="measure-choice" id="measure-choice-label" class="vizmenu-label">Scale</label>	
			<select name="measure-choice" id="measure-choices"> <option value="none">None</option> </select>
		</nav>
		<div class="clear"></div>
	</section>
	
	<main id="view-wrapper" class="view-wrapper">
		<div id="vizwrap" class="vizwrap closed">
			<svg id="vizshell" class="vizsvg" preserveAspectRatio="xMinYMin meet"> <rect x="0" y="0" width="100%" height="100%" fill="#21222c"></rect></svg>
			<input id="viz-slider" class="slider" type="range" min="20" max="100" value="30" step="5" oninput="MI.Visualization.Update();">		
		</div>
		<div id="viztooltip"></div>
		<div class="searchwidget">
			<i class="fas fa-search"></i> 
			<input type="text" placeholder="Filter by..." id="searchbar"> 
			<i id="searchclear" class="fas fa-times-circle searchclear"></i>
		</div>
		
		<div id="mapmenu"><i class="fas fa-layer-group"></i></div>
		<div id="fullscreen-menu"><i class="fas fa-expand"></i></div>
		<div id="messages" class="closed"></div>
		<div id="mapcapture"><i class="fas fa-camera"></i></div>

		<nav id="mapmenu-window" class="closed">
			<i id="close-mapmenu" class="fas fa-times-circle close-mapmenu"></i>
			
			<div id="basemapselect">
				<h3><label for="basemap-chooser">Map Baselayer</label></h3>
				<select name="basemap" id="basemap-chooser"></select>
			</div>
			<div id="datalayers">
				<h3>Data Layers</h3> 
				<p id="datalayers-description">Add Pmtiles, Geojson, or Shapefiles.</p>
				<div class="layerrow"><label for="shippinglanes" class="layercontainer"><input id="shippinglanes" type="checkbox" value="shippinglanes" class="vector"><span class="layercheckmark"><i class="fas"></i></span> Shipping Lanes</label></div>
				<div class="layerrow"><label for="railroads" class="layercontainer"><input id="railroads" type="checkbox" value="railroads" class="vector"><span class="layercheckmark"><i class="fas"></i></span> Rail Connections</label></div>
				<div class="layerrow"><label for="marinetraffic" class="layercontainer"><input id="marinetraffic" type="checkbox" value="marinetraffic" class="raster"><span class="layercheckmark"><i class="fas"></i></span> Marine Traffic</label></div>
				<div id="userdatalayers"></div>
				<div id="load-datalayers-row">
					<input type="text" id="load-datalayers-input"><button id="load-datalayers-btn"><i class="fas fa-plus-circle"></i></button>
				</div>
			</div>
			<div id="liveobjects">
				<h3>Live Objects</h3> 
				<ul id="liveobjectlist"></ul>
			</div>
			<div id="supplycategories">
				<h3>Manifest Documents</h3> 
			</div>
		</nav>
		<div class="map" id="map"></div>
		<div class="textview closed" id="textview"></div>
		<div class="listview closed" id="listview">
			<div id="datalist" class="dataviewer smapviewer">
				<div id="datasort">
					<div class="manifest col sort" data-sort='manifest'>Manifest</div>
					<div class="index col sort" data-sort='index'>#</div>
					<div class="name col sort" data-sort='name'>Name</div>
					<div class="description col sort" data-sort='description'>Description</div>
					<div class="placename col sort" data-sort='placename'>Address</div>
					<div class="geocode col sort" data-sort='geocode'>Geocode</div>
					<div class="categories col sort" data-sort='categories'>Category</div>
					<div class="notes col sort" data-sort='notes'>Additional Notes</div>
					<div class="clear"></div>
				</div>
				<input type="search" id="datasearch" class="search" placeholder="Search...">
				<ul class=list id="manifestlistview"></ul>
			    <ul class="pagination"></ul>	
			</div>
		</div>
	</main>

	<section id="loader">
		<h1 id="loadertitle">Manifest</h1>
		<h2 id="loadermessage">Supply Chain Platform</h2>
		<div id="loaderspinner" class="lds-spinner">
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
		</div>
	</section>
	<section id="fullscreen-modal" class="closed"><div id="full-modal"></div></section>
	<!-- build:section layout.footer --><!-- /build -->

    <!-- build:process -->	
	<script src="<%= js_libpath %>" defer></script>
	<script src="<%= js_mainpath %>" defer></script>
    <!-- /build -->
	
    <!-- build:remove -->		
	<script src="../src/lib/json/casper.json"></script>
    <!-- /build -->

</body>
</html>
